--
-- PostgreSQL database dump
--

\restrict 5u7JXjM6KEIaOu8gQzx0RgS6xLvU9Vf9Kup5VOt9vYWJIxxRp5JxOtHuMLiKw1J

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO bing;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO bing;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO bing;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO bing;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO bing;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO bing;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO bing;

--
-- Name: CartItems; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."CartItems" (
    "Id" integer CONSTRAINT "CartItem_Id_not_null" NOT NULL,
    "ShoppingCartId" integer CONSTRAINT "CartItem_ShoppingCartId_not_null" NOT NULL,
    "FoodId" integer CONSTRAINT "CartItem_FoodId_not_null" NOT NULL,
    "Quantity" integer CONSTRAINT "CartItem_Quantity_not_null" NOT NULL,
    "UnitPrice" numeric CONSTRAINT "CartItem_UnitPrice_not_null" NOT NULL,
    "CreateDate" timestamp with time zone CONSTRAINT "CartItem_CreateDate_not_null" NOT NULL
);


ALTER TABLE public."CartItems" OWNER TO bing;

--
-- Name: CartItem_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."CartItems" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CartItem_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Customers; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."Customers" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "UserName" text NOT NULL,
    "Allergies" integer NOT NULL,
    "StreetAddress" text NOT NULL,
    "City" text NOT NULL,
    "State" text NOT NULL,
    "ZipCode" text NOT NULL
);


ALTER TABLE public."Customers" OWNER TO bing;

--
-- Name: Customers_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."Customers" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Customers_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Foods; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."Foods" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "NutritionId" integer NOT NULL,
    "Allergies" integer NOT NULL,
    "FoodType" integer NOT NULL,
    "IsSoldOut" boolean NOT NULL
);


ALTER TABLE public."Foods" OWNER TO bing;

--
-- Name: Foods_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."Foods" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Foods_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: GachaItems; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."GachaItems" (
    "Id" integer NOT NULL,
    "ItemName" text NOT NULL,
    "Description" text,
    "ItemRarity" integer NOT NULL
);


ALTER TABLE public."GachaItems" OWNER TO bing;

--
-- Name: GachaItems_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."GachaItems" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."GachaItems_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Nutrition; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."Nutrition" (
    "Id" integer NOT NULL,
    "Calories" integer NOT NULL,
    "Protein" integer NOT NULL,
    "Carbs" integer NOT NULL
);


ALTER TABLE public."Nutrition" OWNER TO bing;

--
-- Name: Nutrition_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."Nutrition" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Nutrition_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: RefreshTokens; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."RefreshTokens" (
    "Id" integer NOT NULL,
    "Token" text NOT NULL,
    "UserId" text NOT NULL,
    "CreatedAtUtc" timestamp with time zone NOT NULL,
    "ExpiresAtUtc" timestamp with time zone NOT NULL,
    "RevokedAtUtc" timestamp with time zone
);


ALTER TABLE public."RefreshTokens" OWNER TO bing;

--
-- Name: RefreshTokens_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."RefreshTokens" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."RefreshTokens_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ShoppingCarts; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."ShoppingCarts" (
    "Id" integer NOT NULL,
    "CustomerId" integer NOT NULL,
    "IsCheckedOut" boolean NOT NULL,
    "CreatedDate" timestamp with time zone NOT NULL,
    "IsCancelled" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."ShoppingCarts" OWNER TO bing;

--
-- Name: ShoppingCarts_Id_seq; Type: SEQUENCE; Schema: public; Owner: bing
--

ALTER TABLE public."ShoppingCarts" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ShoppingCarts_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: bing
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO bing;

--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: CartItems PK_CartItems; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "PK_CartItems" PRIMARY KEY ("Id");


--
-- Name: Customers PK_Customers; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."Customers"
    ADD CONSTRAINT "PK_Customers" PRIMARY KEY ("Id");


--
-- Name: Foods PK_Foods; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."Foods"
    ADD CONSTRAINT "PK_Foods" PRIMARY KEY ("Id");


--
-- Name: GachaItems PK_GachaItems; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."GachaItems"
    ADD CONSTRAINT "PK_GachaItems" PRIMARY KEY ("Id");


--
-- Name: Nutrition PK_Nutrition; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."Nutrition"
    ADD CONSTRAINT "PK_Nutrition" PRIMARY KEY ("Id");


--
-- Name: RefreshTokens PK_RefreshTokens; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."RefreshTokens"
    ADD CONSTRAINT "PK_RefreshTokens" PRIMARY KEY ("Id");


--
-- Name: ShoppingCarts PK_ShoppingCarts; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."ShoppingCarts"
    ADD CONSTRAINT "PK_ShoppingCarts" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_CartItems_FoodId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_CartItems_FoodId" ON public."CartItems" USING btree ("FoodId");


--
-- Name: IX_CartItems_ShoppingCartId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_CartItems_ShoppingCartId" ON public."CartItems" USING btree ("ShoppingCartId");


--
-- Name: IX_Customers_UserId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_Customers_UserId" ON public."Customers" USING btree ("UserId");


--
-- Name: IX_Foods_NutritionId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_Foods_NutritionId" ON public."Foods" USING btree ("NutritionId");


--
-- Name: IX_RefreshTokens_UserId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_RefreshTokens_UserId" ON public."RefreshTokens" USING btree ("UserId");


--
-- Name: IX_ShoppingCarts_CustomerId; Type: INDEX; Schema: public; Owner: bing
--

CREATE INDEX "IX_ShoppingCarts_CustomerId" ON public."ShoppingCarts" USING btree ("CustomerId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: bing
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: bing
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: CartItems FK_CartItems_Foods_FoodId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "FK_CartItems_Foods_FoodId" FOREIGN KEY ("FoodId") REFERENCES public."Foods"("Id") ON DELETE CASCADE;


--
-- Name: CartItems FK_CartItems_ShoppingCarts_ShoppingCartId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "FK_CartItems_ShoppingCarts_ShoppingCartId" FOREIGN KEY ("ShoppingCartId") REFERENCES public."ShoppingCarts"("Id") ON DELETE CASCADE;


--
-- Name: Customers FK_Customers_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."Customers"
    ADD CONSTRAINT "FK_Customers_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Foods FK_Foods_Nutrition_NutritionId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."Foods"
    ADD CONSTRAINT "FK_Foods_Nutrition_NutritionId" FOREIGN KEY ("NutritionId") REFERENCES public."Nutrition"("Id") ON DELETE CASCADE;


--
-- Name: RefreshTokens FK_RefreshTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."RefreshTokens"
    ADD CONSTRAINT "FK_RefreshTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: ShoppingCarts FK_ShoppingCarts_Customers_CustomerId; Type: FK CONSTRAINT; Schema: public; Owner: bing
--

ALTER TABLE ONLY public."ShoppingCarts"
    ADD CONSTRAINT "FK_ShoppingCarts_Customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES public."Customers"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 5u7JXjM6KEIaOu8gQzx0RgS6xLvU9Vf9Kup5VOt9vYWJIxxRp5JxOtHuMLiKw1J

